[Unit]
Description=Delectrum's distributed currency daemon
After=network.target

[Service]
User=delectrum
Group=delectrum

Type=forking
PIDFile=/var/lib/delectrumd/delectrumd.pid

ExecStart=/usr/bin/delectrumd -daemon -pid=/var/lib/delectrumd/delectrumd.pid \
          -conf=/etc/delectrum/delectrum.conf -datadir=/var/lib/delectrumd

ExecStop=-/usr/bin/delectrum-cli -conf=/etc/delectrum/delectrum.conf \
         -datadir=/var/lib/delectrumd stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
